<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "it.zerbinatifrancesco.biggym"
        version   = "1.0.0">

    <name>Big Gym</name>

    <description>
       Hypermedia Project 2014/15, Technology Project.
    </description>

    <author href="http://zerbinatifrancesco.it." email="10365605@polimi.it">
        Zerbinati Francesco
    </author>

    <gap:plugin name="com.phonegap.plugin.statusbar" />

    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />


    <!-- iPhone 6 / 6+ icon -->
    <icon src="images/icon.png" gap:platform="ios" width="180" height="180" />
    <gap:splash src="images/splash.png" gap:platform="ios" width="320" height="480" />

</widget>
